<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchen</title>
    <link rel="stylesheet" href="css/project.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/userdata">Kitchen</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="head">
        <div class="row container">
            <div class="col">
                <div class="input-group mb-3 contain" style="width: 250px;">
                    <input type="text" class="form-control" name="address" placeholder="Search*" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col">
                <a id="reg" href="/registration"> <div class="button">
                    <button type="button1" class="btn btn-success" >Add KItchen</button>
                </div> </a>
            </div>
      </div>
      <br>
      <br>
      <table class="table">
        <tbody class="tbdy">
            <%data.forEach(dat =>{%>
                <tr>
                    <th scope="row"><%= dat.kitchenname%></th>
                    <td><%= dat.address%></td>
                    <td><%= dat.email%></td>
                    <td><%= dat.phone%></td>
                    <td><%= dat.Fssaino%></td>
                    <td><a href="/registration" ><div class="button">
                        <button type="button1" class="btn btn-success" >Edit</button>
                    </div></a></td>

                  </tr>
               <%})%>
        </tbody>
      </table>
    </header>
</body>

</html>